
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
body{
    font-family: sans-serif;
}
header{
    width: 100%;
    z-index: 999;
    position: relative;
}
#header1{
    height: 80px;
    background: white;
}
#header1 > a > img{
    margin-left: 40px;
    margin-top: 14px;
    width: 90px;
}
#header1 > nav > ul{
    list-style: none;
    position: absolute;
    right: 30px;
    top: 32px;
    font-weight: bold;
}
#header1 > nav > ul > li{
    text-align: center;
    font-size: 15px;
    float: left;
    margin-right: 20px;
    width: 115px;
}
#header1 > nav > ul > li:last-child{
    margin-right: 0;
}
#header1 > nav > ul > li > .depth2{
    display: none;
    list-style: none;
    margin-top: 28px;
    background: white;
    font-size: 14px;
}
#header1 > nav > ul > li > .depth2 > li{
    padding: 5px 10px 5px 10px;
    font-size: 12px;
}
#header1 > nav > ul > li > .depth2 > li:hover{
    border-bottom: 3.7px solid #1D3B61 ;
}
#header1 > nav > ul > li:hover  > .depth2{
    display: block;
}

#header2{
    height: 20px;
    background: #1D3B61;
}

/* 여기부터 섹션*/
section {
    background-color: #ECECEC;
    width: 1280px;
    margin: auto;
}
#gallery{
    width: 1270px;
    height: 400px;
    margin: auto;
    overflow: hidden;
}
    
#gallery > div{
    width: 2560px;
    height: 400px;
    display: flex;
    animation-name: box;
    animation-duration: 15s;
    animation-iteration-count: infinite;
  
}
@keyframes box{
    0%{
        transform: translate(0);
    }
    20%{
        transform: translate(0);
    }
    30%{
        transform: translate(0);
    }
    40%{
        transform: translate(-50%);
    }
    60%{
        transform: translate(-50%);
    }
    80%{
        transform: translate(-50%);
    }
    100%{
        transform: translate(0%);
    }
}
#gallery > div > p{
    width: 150px;
    padding: 15px;
    line-height: 22px;
    text-align: center;
    background-color: rgb(236, 211, 70);
    border-radius: 30px;
    position: absolute;
    right: 950px;
    top: 265px;
    transition: 0.4s;
}
#gallery > div > p:hover{
   background-image: linear-gradient(rgb(245, 168, 3), rgb(231, 228, 17));
}
#gallery > div > p > a{
    color: white;
    font-size: 22px;
    font-weight: bold;
  
}
section > div#content {
    border: none;
    background-color: #ECECEC;
    height: 320px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
section > div#content > div{
    margin-top: 41px;
}
section > div#content > div > a > img{
    box-shadow: rgb(163, 163, 163) 2px 2px 2px;
    transition: 0.5s;
    
}
section > div#content > div > a > img:hover{
    transform: scale(0.9);
    transform: 0.5s;
  
}
.date
    {float: right;}

section > div#content > div > p{
    padding-top: 17px;
    font-size: 14px;   
}
section > #contact{
    width: 1280px;  
    height: 370px;
    margin: auto;
    font-size: 13px;
    background: rgb(185, 199, 199);
    display: flex;
    justify-content: space-around;
}

section > #contact > .news > ul {
    list-style: none;
    margin-top: 30px;
    background-color: rgb(243, 243, 243, 0.7);
    width: 540px;
    height: 265px;
}
section > #contact > .news > ul > li{
    padding: 10px;
    border-bottom:  dashed rgb(129, 129, 129) 1px;
}
section > #contact > .news > ul > li > a:hover{
    color: blue;
}
h1{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: #494949;
}

.news > form {
    width: 540px;
    margin-top: 30px;
    position: relative;
    border: none;

}
.news > form > fieldset > ul{
    list-style: none;
    padding: 10px;
    padding-top: 18px;
   
   
}
.news > form > fieldset > ul > li{
    margin-bottom: 12px;
}
.news > form > fieldset > ul > li > input{
    border: none;
    height: 25px;
}
.news > form > fieldset > ul > li  > textarea{
    border: none;
}

label.title{
    font-weight: bold;
    width: 90px;
    float: left;
    margin-left: 10px;
}
.submit-btn{
    width: 110px;
    border-radius: 8px;
    border: none;
    position: absolute;
    right: 17px;
    bottom: 28px;
    background-color: rgb(235, 210, 74);
    color: white;
    font-weight: bold;
}
.submit-btn:hover{
    background-image: linear-gradient(rgb(245, 168, 3), rgb(231, 228, 17));
}

/*footer*/
footer{
    background:#1D3B61 ;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 10px;
    color: rgb(197, 197, 197);
}
footer > p{
    padding-top: 23px;
    line-height: 20px;
}
